<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <label>First Name </label>
  <input name="firstName" ngModel #firstName="ngModel"><br>
  <label>Last Name </label>
  <input name="lastName" ngModel #lastName="ngModel"><br>
  <label>Street Address </label>
  <input name="address" ngModel #address="ngModel"><br>
  <button>Add Item</button>
  <select name="item" ngModel #item="ngModel">
    <option disabled></option>
    <option *ngFor="let item of items" [ngValue]="item">{{item.itemName}}</option>
  </select>
  
</form>
<ul *ngFor="let item of cartItems">
  <li>{{item.itemName}} <input type='button' value='delete' (click)=removeItem(item)></li>
</ul>
<p>Order for {{customer.firstName}} {{customer.lastName}} at {{customer.address}}</p>