label {
    font-weight: bold;
    display:inline-block;
    width: 150px;
}

input {
    width: 150px;
    display: inline-block;
}

form {

    margin-bottom: 10px;
}

#qty-label{
    text-align: center;
}

button {
    font-weight: bold;
}

#delete {
    padding: 0;
    border: none;
    background:none;
    text-decoration: underline;
}

#underline {
    border-top: 1px solid black;
    
}

#underline-end{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

table {
    width: 60%;
    table-layout: fixed;
    overflow-wrap: break-word;
}

td {
    text-align: end;
    width: 80px
}

th {
    text-align: end;
}

#title{
    text-align:left;
}